<template>
	<v-form>
    <v-container>
      <v-row>
        <v-col
          cols="12"
          sm="6"
        >
        <v-text-field
          v-model="json.rut"
          :counter="12"
          label="Ingrese su RUN/DNI"
          hint="12.345.678-9/12.345.678-k"
          v-mask="'##.###.###-X'"
          persistent-hint
          required
        ></v-text-field>
          <v-text-field
              v-model="json.names"
              label="Ingrese su(s) nombre(s)"
              required
          ></v-text-field>
        </v-col>

        <v-col
            cols="12"
            sm="6"
        >
          <v-text-field
              v-model="json.email"
              :rules="[rules.required, rules.email]"
              label="E-mail"
              hint="correo@company@.dom"
          ></v-text-field>

          <v-text-field
            v-model="json.last_name"
            label="Ingrese sus apellidos"
            required
          ></v-text-field>
        </v-col>

        <v-col
            cols="12"
            sm="6"
        >
        <v-autocomplete
            v-model="json.region"
            label="Region de domicilio"
            :items=infoRegions.regiones
            item-text="name"
            item-value="number"
            required
          ></v-autocomplete>

        </v-col>

        <v-col
            cols="12"
            sm="6"
        >
          <v-autocomplete
              v-model="json.commune"
              label="Comuna de domicilio"
              :items=communes
              item-text="name"
              item-value="name"
              required
              :disabled="boolR"
          ></v-autocomplete>
        </v-col>
        <v-row>
        <v-col
            cols="12"
            sm="4"
        >
          <v-text-field
              v-model="json.street_number"
              label="N° de calle"
              required
          ></v-text-field>
        </v-col>
          <v-col
              cols="12"
              sm="4"
          >
            <v-text-field
                v-model="json.address"
                label="Dirección"
                required
            ></v-text-field>
          </v-col>
          <v-col
              cols="12"
              sm="4"
          >
          <v-autocomplete
            v-model="json.reason"
            label="Razón del permiso"
            :items=reasons
            required
          ></v-autocomplete>
        </v-col>
        </v-row>
      </v-row>
      <v-row
          align="center"
          justify="space-around"
      >
        <v-btn
            tile
            color="blue-grey"
            v-on:click="postForm"
            style="margin-bottom: 15px"
        >
          <v-icon left color="white">
            mdi-send
          </v-icon>
          <a style="color: white">Enviar solicitud</a>
        </v-btn>
      </v-row>

      <v-alert v-if="this.boolAlert===true"
          outlined
          type="warning"
          prominent
          border="left"
      >
        Todos los campos deben ser llenados
      </v-alert>

        <v-alert v-if="boolConfirmation===true"
            text
            dense
            color="teal"
            icon="mdi-clock-fast"
            border="left"
        >
          {{responsePostForm.data.form.names}} {{responsePostForm.data.form.last_name}} su permiso con número de documento #{{responsePostForm.data.form.id}} y motivo "{{responsePostForm.data.form.reason}}" será válido desde {{responsePostForm.data.str_validation_date}} hasta las {{responsePostForm.data.str_expiration_date}}. Esta información fue enviada a su correo {{responsePostForm.data.form.email}}
        </v-alert>
    </v-container>
  </v-form>
</template>


<script>
  import {mapMutations, mapState} from 'vuex';
  export default {
    data: () => ({
      json: {
        rut: null,
        names: null,
        last_name: null,
        email: null,
        region: null,
        regionName: null,
        commune: null,
        address: null,
        street_number: null,
        reason: null
      },
      rules: {
        required: value => !!value || 'Required.',
        counter: value => value.length <= 20 || 'Max 20 characters',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
      reasons: [
          "Compra de insumos básicos"
      ],
      number: null,
      communes: [],
      boolR: true,
      boolAlert: false,
      boolConfirmation: false
    }),

   computed:
            {
              ...mapState(['infoRegions', 'responsePostForm']),
              region(){
                return this.json.region
              }
            },

    created: function() {
      this.getRegions();
    },

    methods: {
       ...mapMutations(['getRegions', 'postService']),
        getComuna(){
          this.communes = this.infoRegions.comunas[this.json.region]
          for (let i=0; i< this.infoRegions.regiones.length; i++){
            if (this.json.region === this.infoRegions.regiones[i].number){
              this.json.regionName = this.infoRegions.regiones[i].name
            }
          }
          this.boolR = false
        },
      postForm(){
         if (this.json.rut === null || ""){
           this.boolAlert = true;
           }
        else if (this.json.names === null || ""){
          this.boolAlert = true;
        }
         else if (this.json.last_name === null || ""){
           this.boolAlert = true;
         }
         else if (this.json.email === null || ""){
           this.boolAlert = true;
         }
         else if (this.json.region === null || ""){
           this.boolAlert = true;
         }
         else if (this.json.commune === null || ""){
           this.boolAlert = true;
         }
         else if (this.json.address === null || ""){
           this.boolAlert = true;
         }
         else if (this.json.street_number === null || ""){
           this.boolAlert = true;
         }
         else if (this.json.reason === null || ""){
           this.boolAlert = true;
         }
         else {
           this.boolAlert=false
           this.postService(this.json)
           this.boolConfirmation=true
         }

      }
    },
    watch:
        {
          region: function(){
            this.getComuna()
          },
          responsePostForm: function (){
            this.json.rut = null
            this.json.names = null
            this.json.last_name = null
            this.json.email = null
            this.json.region = null
            this.json.commune = null
            this.json.address = null
            this.json.street_number = null
            this.json.reason = null
            this.boolAlert = false
          }
        }
  }
</script>

