<template>
  <div>
    <v-card style="margin-left: 5%; margin-right: 5%">
      <div style="margin-left: 30%; margin-top: 2%">
        <v-subheader
          >Ingrese su identificador del permiso para consultar su
          vigencia:</v-subheader
        >
        <v-col cols="12" md="7">
          <v-text-field label="..." v-model="id" outlined></v-text-field>
        </v-col>
        <v-btn style="margin-bottom: 3%; margin-left: 25%" @click="validateId"
          >Consultar</v-btn
        >
        <div v-if="this.response === true">
          <v-alert
            v-if="this.message === 'The permission is invalid'"
            type="warning"
            style="margin-right: 43%; margin-top: 1%"
          >
            El permiso es inválido
          </v-alert>
          <v-alert
            v-if="this.message === 'The permission is still valid'"
            type="info"
            style="margin-right: 43%; margin-top: 1%"
          >
            El permiso aún es válido
          </v-alert>
        </div>
        <v-alert
          v-if="this.response === false"
          type="error"
          style="margin-right: 43%; margin-top: 1%"
        >
          El código ingresado no existe, pruebe ingresando nuevamente
        </v-alert>
      </div>
      <v-spacer></v-spacer>
      <br />
    </v-card>
  </div>
</template>

<script>
import axios from "axios";
import { encrypt, decrypt } from "../helpers/cryptoHelper.js";

export default {
  name: "View1",
  data: () => ({
    id: null,
    json: {
      formId: null,
    },
    response: null,
    message: null,
  }),

  methods: {
    validateId() {
      if (this.id == null || undefined) {
        // eslint-disable-next-line no-console
        console.log("error debe llenar el id");
      } else {
        this.json.formId = this.id;
        const encryptedData = encrypt(this.json)

        axios
          .post("http://localhost:3001" + "/validation/validate", encryptedData)
          .then((response) => {

            const decryptedData = decrypt(response.data.encryptedData)

            this.response = decryptedData.success;
            this.message = decryptedData.message;
            // window.setTimeout(() => {
            //   this.response = null;
            //   this.message = null;
            // }, 4000);
          })
          .catch((error) => {
            // eslint-disable-next-line no-console
            console.log(error);
          });
      }
    },
  },
};
</script>

<style scoped>
</style>
