<template>
  <v-app id="inspire">
        <v-bottom-navigation
        v-model="value"
        :background-color="color"
        dark
        shift
        >
          <v-btn v-on:click="changeViewForm">
            <span style="margin-top: 7px">Formulario</span>
            <v-icon>mdi-book</v-icon>
          </v-btn>

          <v-btn v-on:click="changeViewValidate">
            <span style="margin-top: 7px">Validación</span>
            <v-icon>mdi-book-search</v-icon>
          </v-btn>

        </v-bottom-navigation>

    <div v-if="this.boolForm===true">
      <formComponent>
      </formComponent>
    </div>

    <div v-if="this.validateForm===true">
      <validateComponent>
      </validateComponent>
    </div>

  </v-app>
</template>


<script>
  import formComponent from "./views/Home";
  import validateComponent from "./views/View1";
  export default {
  data: () => ({
        boolForm: true,
        validateForm: false
      }),

      components:{
        formComponent,
        validateComponent
      },

      computed:{

      },

      methods: {

        changeViewForm(){
          this.boolForm = true
          this.validateForm = false
        },

        changeViewValidate(){
          this.boolForm = false
          this.validateForm = true
        }

      }
    
  }

</script>
